<div>{{id}}</div>
<div>
   <img src="/images/{{imageselect type}}" alt="">
</div>
<div>{{name}}</div>
<div>{{size}}</div>
<div>{{type}}</div>
<a href="/filemanager/?action=delete&id={{id}}">delete</a>
<a href="/info/?id={{id}}">info</a>
<a href="/upload{{uploadName}}" download="{{name}}">download</a>